################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ExcelToCsv/bin/Debug
/ExcelToCsv/obj
/packages
